<h5>Id: <%= @player.id%></h5>
<h5><%= @player.name%></h5>
<h5><%= @player.contact%></h5>
<h5>Current balance: $<%= @player.balance%></h5>
<h5>Total wins: <%= @player.wins%></h5>
<a href="http://localhost:3000/players/<%=@player.id%>/edit">Edit</a>
<%= button_to "Delete" , player_path, method: :delete %>
