<h3>Bet Details</h3>
<h5>Bet ID: <%= @bet.id%></h5>
<h5>Player's ID:<%= @bet.player_id%></h5>
<h5><%= @bet.prop%></h5>
<h5>Ammount: $<%= @bet.value%></h5>
<h5>Juice: <%= @bet.juice%></h5>
<%= button_to "Delete" , bet_path, method: :delete %>
<%= button_to "Edit" , edit_bet_path, method: :get %>
<%= link_to "My Book" , @user, method: :get %>
