<h3>Edit Bet</h3>
<%= form_for @bet do |form| %>
  <%= form.text_field :player_id, value: @bet.player_id %>
  <%= form.text_field :prop, value: @bet.prop %>
  <%= form.text_field :value, value: @bet.value %>
  <%= form.text_field :juice, value: @bet.juice %>
  <%= form.submit %>
<% end %>
