
<% if @current_user %>
 <p>Welcome, <%= @user.username %></p>
<% end %>

<% if @current_user %>
<form action="<%=bets_path%>" method ="post">
   <h3>Add a bet</h3>
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
   <input type="text" name="bet[prop]" placeholder="Proposition details"/>
   <input type="number" name="bet[value]" placeholder="Initial value"/>
   <input type="float" name="bet[juice]" placeholder="Juice (Example: 5% = 0.05)"/>
   <input type="hidden" name="bet[user_id]" value="<%= current_user.id %>"/>
   <input type="submit"/>
</form>
<% end %>


<h3>Your Book</h3>
<% @user.bets.each do |bet| %>
   <h4> <%= bet.user_id%></h4>
   <h4> <%= bet.prop%></h4>
   <h4> $<%= bet.value%></h4>
   <h4> <%= bet.juice%></h4>
<% end %>
