<h5>Id: <%= @player.id%></h5>
<h5><%= @player.name%></h5>
<h5><%= @player.contact%></h5>
<h5>Current balance: $<%= @player.balance%></h5>
<h5>Total wins: <%= @player.wins%></h5>
<a href="https://protected-eyrie-39175.herokuapp.com/players/<%=@player.id%>/edit">Edit</a>


<table>
   <h4><%= @player.name%>'s History</h4>
   <tr>
      <th>ID</th>
      <th>Proposition</th>
      <th>Ammount</th>
      <th>Juice</th>
      <th>Book</th>
   </tr>
   <% @player.bets.each do |bet| %>
      <tr>
         <th><%= bet.id %></th>
         <th><%= bet.prop %></th>
         <th><%= bet.value %></th>
         <th><%= bet.juice %></th>
         <th><%= bet.book_id %></th>
      </tr>
   <% end %>
</table>

<%= button_to "Delete Player" , player_path, method: :delete %>
